
:root{
  --color-fondoHeader: #239089;
  --color-text: #131313 ;
  --color-border:#333333 ;
  --color-body: #42a8a1 ;
  --color-content: #b8f0ed;

}

/* APP */

.container-general{
  background-color: var(--color-body);
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* EDITOR */
  .container-editor{
    max-width: 100%;
    width: 37rem;
    border-radius: 0.2rem;
    overflow: hidden;
    padding-bottom: 0;
  }
  
  #editor{
    border: 2px solid var(--color-border);
    min-height: 10rem;
    width: 100%;
    height: 100%;
    resize: vertical;
    margin-bottom: 0;
    color: var(--color-text);
    background-color:  var(--color-content);  
    padding: 1rem;
    font-size: 1.1rem;
    cursor:   var(--color-text);
  }

  #editor:focus{
    outline: none;
  }


  /* PREVIEW */

  .container-preview{
    width: 50rem;
    max-width: 100%;
    border-radius: 0.3rem;
    overflow: hidden;
  }

  #preview{
    border: 2px solid var(--color-border);
    width: 100%;
    min-height: 20rem;
    background-color: var(--color-content);
    color: #fff;
    padding: 1rem;
    font-size: 1.1rem;
  }

/* HEADER */
.header-modal{
  width: 100%;
  height: 2.3rem;
  padding: 0.5rem 1.1rem;
  border: 2px solid var(--color-border);
  border-bottom: none;
  display:  flex;
  justify-content: space-between;
  align-items: center;
  background-color:   var(--color-fondoHeader);
}


.datos-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon {
  color: var(--color-border);
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-modal{
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-border);
}


.btn-modal {
  background-color: transparent;
  font-size: 1.1rem;
  border: none;
  color: var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}
